# =========================
# Entorno virtual
# =========================
venv/
.env/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3
media/

# Archivos estáticos recolectados (producción)
staticfiles/

# =========================
# Archivos de entorno
# =========================
.env
*.env

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs / editores
# =========================
.vscode/
.idea/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Archivos temporales
# =========================
*.swp
*~
